<!-- Componente de reestablecimiento de contraseña -->
<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Header de la pagina -->
  <div class="header">
    <h1>Reestablece tu contraseña</h1>
  </div>
  <!-- Formulario de reestablecimiento de contraseña -->
  <form [formGroup]="resetForm" (ngSubmit)="onReset()" class="login-form">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="6">
        <!-- Input de usuario -->
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input formControlName="username" label="Email" labelPlacement="floating" maxlength="50" [counter]="true" [minlength]="15" [maxlength]="50"></ion-input>
        </ion-item>
        <!-- Boton de reinicio de contraseña -->
        <ion-button expand="block" [disabled]="!resetForm.valid" type="submit" size="large" color="success">
          Reiniciar Contraseña
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
        <!-- Enlace a la pagina de inicio de sesion -->
        <ion-text>
          <p class="ion-text-center">
            <a (click)="navigateToLogin()">Iniciar Sesión</a>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
