<!-- Componente de login -->
<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Header de la pagina -->
  <div class="header">
    <ion-title class="titulo">Bienvenido!</ion-title>
    <p class="subtitulo">Inicia sesión</p>
  </div>
  <!-- Formulario de login -->
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="login-form">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="6" >
        <!-- Input de email -->
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input formControlName="email" label="Email" labelPlacement="floating" maxlength="50" [counter]="true" [minlength]="15" [maxlength]="50"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input formControlName="username" label="Nombre de usuario" labelPlacement="floating" maxlength="15" [minlength]="6"[counter]="true" [maxlength]="15"></ion-input>
        </ion-item>
        <!-- Input de contraseña -->
        <ion-item>
          <ion-icon name="key"></ion-icon>
          <ion-input formControlName="password" label="Contraseña" labelPlacement="floating" type="password" maxlength="15" [minlength]="6"[counter]="true" [maxlength]="15"></ion-input>
        </ion-item>
        <!-- Boton de envio de formulario -->
        <ion-button expand="block" [disabled]="!registerForm.valid" type="submit" size="large" color="success">
          Ingresar
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-text>
          <!-- reestablecer contraseña -->
          <p class="ion-text-center">
            <a (click)="navigateToLogin()">Iniciar Sesión</a>
          </p>
        </ion-text>
        <ion-text>
          <!-- reestablecer contraseña -->
          <p class="ion-text-center">
            <a (click)="navigateToReset()">¿Olvidaste tu contraseña?</a>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
